@import "components/_components.scss";
@import "layout/_layout.scss";
@import "pages/_pages.scss";



// body {
//     @include box-sizing(border-box);
//     margin: 0;
//     padding: 0;
//     font-family: Calibri, sans-serif;
//     font-size: 14px;
//     line-height: 1.5;
//     text-align: left;
//     color: $color-black;
//     letter-spacing: 0.5px;
//   }

html {
  font-size: 14px;
}


// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/form.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";