$body-weight: 500;
$family-primary: Calibri,-apple-system, "Segoe UI", "Roboto", "Oxygen", "Helvetica", "Arial", sans-serif;
$color-black: #333;
$green: #96b85d;
$primary: #129ff7;

$tablet: 820px;


@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";

$padding: 20px;
$spacing: 20px;