$navbar-background-color: $green;
$navbar-item-hover-background-color: transparent;

$navbar-item-color: $white;
$navbar-item-hover-color: $grey-darker;

$navbar-divider-background-color: $white;

$navbar-dropdown-background-color: $grey-light;
$navbar-dropdown-item-hover-background-color: transparent;

@import "../../../node_modules/bulma/sass/components/navbar.sass";

.navbar {
    font-weight: 600;

    &-item {
        img {
            max-height: 2.25rem;
        }
    }
}



