$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;

@import "../../../node_modules/bulma/sass/components/pagination.sass";

.pagination-link {
    background: $grey-lighter;
}