$table-head-cell-border-width: 2px 0 2px 0 !default;

@import "../../../node_modules/bulma/sass/elements/table.sass";

.table {
    th {
        a {
            color: $black;            
        }

        &.is-sort {
            a {
                color: $cyan;
                border-bottom: solid 3px $cyan;
                padding-bottom: 0.5rem;

                &::after {
                    padding-right: $padding / 4;
                    font-family: "wm-fontello";
                    padding-left: $padding / 2;
                }

                &.sort-asc {
                    &::after {
                        content: "\e806";
                    }
                }

                &.sort-desc {
                    &::after {
                        content: "\e805";
                    }
                }
            }
        }
    }

    td {
        a {
            color: $cyan;

            &:hover {
                color: $blue;

                border-bottom: solid 3px $blue;
                padding-bottom: 0.5rem;
            }
        }
    }
}