<template>
  <div class="bj-row">
    <div class="bj-column-4">
      <div class="bj-form-row">
          <label>First Name</label>
          <input type="text">
      </div>
      <div class="bj-form-row">
          <label>Last name</label>
          <input type="text">
      </div>
      <div class="bj-form-row">
          <label>Email</label>
          <input type="email">
      </div>
      <div class="bj-form-row">
          <label>Comments</label>
          <textarea></textarea>
      </div>
      <div class="bj-form-row">
          <button type="submit" class="bj-button-primary">Submit</button>
      </div>
    </div>
    <div class="bj-column-8">
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({
})
export default class ContactUs extends Vue {
  
}
</script>

