@font-face {
  font-family: 'wm-fontello';
  src: url('font/wm-fontello.eot?49793456');
  src: url('font/wm-fontello.eot?49793456#iefix') format('embedded-opentype'),
       url('font/wm-fontello.woff2?49793456') format('woff2'),
       url('font/wm-fontello.woff?49793456') format('woff'),
       url('font/wm-fontello.ttf?49793456') format('truetype'),
       url('font/wm-fontello.svg?49793456#wm-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wm-fontello';
    src: url('font/wm-fontello.svg?11766701#wm-fontello') format('svg');
  }
}
*/
 
 [class^="wm-icon-"]:before, [class*=" wm-icon-"]:before {
  font-family: "wm-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .5em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1.5em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
  
.wm-icon-star-empty:before { content: '\e800'; } /* '' */
.wm-icon-mail:before { content: '\e801'; } /* '' */
.wm-icon-trash-empty:before { content: '\e802'; } /* '' */
.wm-icon-phone:before { content: '\e803'; } /* '' */
.wm-icon-search:before { content: '\e804'; } /* '' */
.wm-icon-down-dir:before { content: '\e805'; } /* '' */
.wm-icon-up-dir:before { content: '\e806'; } /* '' */
.wm-icon-gauge:before { content: '\f0e4'; } /* '' */
.wm-icon-doc-text:before { content: '\f0f6'; } /* '' */
.wm-icon-caret-left:before { content: '\f104'; } /* '' */
.wm-icon-caret-right:before { content: '\f105'; } /* '' */
.wm-icon-caret-down:before { content: '\f107'; } /* '' */
.wm-icon-sort-asc:before { content: '\f160'; } /* '' */
.wm-icon-sort-desc:before { content: '\f161'; } /* '' */
.wm-icon-female:before { content: '\f182'; } /* '' */
.wm-icon-male:before { content: '\f183'; } /* '' */