@import "_fontello.scss";

@import "_content.scss";
@import "_footer.scss";
@import "_extensions.scss";

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content-section {
    flex-grow: 1;
}