<template>
  <div>
    <grid heading="INVOICES" :data="gridData" @actionTriggered="onActionTriggered">
      <grid-column fieldName="invoiceNumber" label="INVOICE" data-type="numeric">
        <template slot-scope="item">
            <a>{{ item.invoiceNumber }}</a>
         </template>
      </grid-column>
      <grid-column fieldName="clientName" label="CLIENT NAME"></grid-column>
      <grid-column fieldName="accountNumber" label="ACCOUNT NUMBER" data-type="numeric"></grid-column>
      <grid-column fieldName="custodian" label="CUSTODIAN"></grid-column>
      <grid-column fieldName="invoiceDate" label="DATE"></grid-column>
      <grid-column fieldName="amount" label="TOTAL" :formatter="currencyFormatter"></grid-column>
    </grid>

    <div id="modal" class="modal" :class="{'is-active': showDownload}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <nav class="panel">
          <p class="panel-heading">Selected Invoices</p>
          <p class="panel-block" v-for="item in selectedInvoices" :key="item">{{ item }}</p>
        </nav>
      </div>
      <button class="modal-close is-large" @click="showDownload = false"></button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';

import { DataRespone } from '../../../model/base.model';
import { InvoiceModel } from '../../../model/model';
import { GridModel } from '../../../shared/grid/model';


@Component({})
export default class InvoiceGrid extends Vue {
  @Getter invoiceData: DataRespone<InvoiceModel>;
  @Action getInvoices;

  showDownload: boolean = false;
  selectedInvoices: Array<number> = [];

  created() {
    this.getInvoices();
  }

  onActionTriggered(actionName: string) {
    if (actionName == "download") {
        this.showDownload = true;

        this.selectedInvoices = this.gridData.items.filter(i => i.selected).map(i => i.data.invoiceNumber);
    }
    else
      this.getInvoices(this.gridData.dataRequest);
  }

  get gridData() {
    return new GridModel<InvoiceModel>(this.invoiceData);
  }

  currencyFormatter(value, rowProperties) {
    const formatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: 'USD',
      minimumFractionDigits: 0
    })

    return formatter.format(value);
  }
}
</script>
