<template>
  <div>
    <GChart :type="chartType" :data="bchartData.data" :options="chartOptions" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { GChart } from 'vue-google-charts';
import { ChartModel } from '../../../model/model';

@Component({
  components: { GChart }
})
export default class Home extends Vue {
  @Prop() chartType: string;
  
  @Getter bchartData: ChartModel;

  chartOptions: any = {
      height: 300,
      colors: ["#adb85d", "#324f19", "#182e05", "#fd6f42"],
      vAxis: {
          baselineColor: "#d2d2d2"
      },
      hAxis: {
          baselineColor: "#d2d2d2",
      },
      legend: {
        position: 'right', textStyle: {color: 'black', fontSize: 16},
        alignment :'center'
        },
        tooltip:{showColorCode: false,text:'value'},
        pieSliceText: 'label',
        pieSliceTextStyle:{color: 'white'}
      
  };
  
}
</script>

