<template>
  <div>
    <GChart :type="chartType" :data="chartData.data" :options="chartOptions" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { GChart } from 'vue-google-charts';
import { ChartModel } from '../../../model/model';

@Component({
  components: { GChart }
})
export default class Home extends Vue {
  @Prop() chartType: string;
  @Prop() showLegend: boolean;
  @Prop() height: number;
  
  @Getter chartData: ChartModel;

  chartOptions: any = {
      height: this.height,
      colors: ["#96b85d", "#f68932", "#40c14e", "#fd6f42"],
      vAxis: {
          baselineColor: "#d2d2d2"
      },
      hAxis: {
          baselineColor: "#d2d2d2",
      },
      legend: {
        position: this.showLegend ?'true':'none'
        }
  };
  
}
</script>

