<template>
    <div>
        <div class="list is-padding">
            <h4 class="subtitle is-4">{{ heading }}</h4>
            <div class="list-item" v-for="(item, index) in items" :key="item.id">
                <div class="level is-mobile">
                    <div class="level-left"><slot name="left" v-bind:item="item" v-bind:index="index"></slot></div>
                    <div class="level-right"><slot name="right" v-bind:item="item" v-bind:index="index"></slot></div>
                </div>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator';

@Component({})
export default class WidgetComponent extends Vue {
    @Prop() items: Array<any>;
    @Prop({ default: '' }) heading: string;
}

</script>