<template>
  <div>
    <invoice-grid></invoice-grid>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import InvoiceGrid from './components/invoice-grid.vue';

@Component({
  components: { InvoiceGrid }
})
export default class Invoices extends Vue {
  
}
</script>

