<template>
    <th @click="clicked" v-if="!column.hidden" :class="{ 'is-sort': column.fieldName === sortBy }">
        <a v-if="column.sortable" :class="sortCss">{{ label }}</a>
        <span v-else>{{ label }}</span>
    </th>
</template>


<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Emit, Watch } from 'vue-property-decorator';
import { GridColumn } from './model';
import GridCellComponent from './grid-cell.vue';
import { SortOrder } from '../../model/base.model';

@Component({
    components: { GridCellComponent }
})
export default class GridHeaderComponent extends Vue {
    @Prop() column: GridColumn;
    @Prop() sortBy: string;
    @Prop() sortOrder: SortOrder;

    clicked() {
        if (this.column.sortable)
            this.$emit('click', this.column);
    }

    get sortCss() {
        if (this.column.fieldName === this.sortBy)
            return `sort-${this.sortOrder == SortOrder.DESC ? 'desc' : 'asc'}`;

        return "";
    }

    get label() {
        return this.column.label ? this.column.label : this.column.fieldName;
    }
}
</script>
