<template>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Emit, Watch } from 'vue-property-decorator';
import { GridColumn } from './model';
import GridCellComponent from './grid-cell.vue';

@Component({
    components: { GridCellComponent }
})
export default class GridColumnComponent extends Vue {
    @Prop( { required: true} ) fieldName: string;
    @Prop( { default: null} ) label: string;
    @Prop( { default: 'string'} ) dataType: string;
  
    @Prop( { default: true} ) sortable: boolean;
    @Prop( { default: null} ) sortBy: string;

    @Prop( { default: true} ) filterable: boolean;

    @Prop( { default: false} ) hidden: boolean;

    @Prop( { default: v => v} ) formatter: any;

    getData() {
        let d = new GridColumn();

        d.fieldName = this.fieldName;
        d.label = this.label;
        d.dataType = this.dataType;
        d.sortable = this.sortable;
        d.sortBy = this.sortBy;
        d.filterable = this.filterable;
        d.hidden = this.hidden;

        if (this.formatter)
            d.formatter = this.formatter;
        else
            d.formatter = (value, rowProperties) => { return value };
        
        if (this.$scopedSlots.default)
            d.template = this.$scopedSlots.default;

        return d;
    }

}
</script>