<template>
    <div>
        <div class="level">
            <div class="level-left"><h2 class="subtitle is-3">{{ heading }}</h2></div>
            <div class="level-right">
                <div class="field is-grouped">
                    <div class="control" v-if="showFilter && isFilterable">
                        <form v-on:submit.prevent="filter">
                            <div class="field has-addons">
                                <p class="control">
                                    <input name="search" type="text" v-model="data.keyword" class="input" placeholder="enter keyword to filter" />
                                </p>
                                <p class="control">
                                    <button type="submit" class="button is-static wm-icon-search" title="Search"></button>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="control">
                        <div class="select">
                            <select>
                            <option>1/1/19 - 1/31/19</option>
                            <option>Month to Date</option>
                            <option>Year to Date</option>
                            <option>Custom Range</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary" @click="download">DOWNLOAD</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <grid-header-component v-for="column in columns" :key="column.fieldName"
                        @click="changeSorting" :sortBy="data.sortBy" :sortOrder="data.sortOrder" :column="column"></grid-header-component>
                </tr>
            </thead>
            <tbody v-if="rows && rows.length">
                <grid-row-component v-for="row in rows" :key="row.rowId"
                    @rowClick="emitRowClick" :row="row" :columns="columns"></grid-row-component>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="100" class="bj-align-center">{{ emptyText }}</td>
                </tr>
            </tbody>
            <tfoot>
                <slot name="tfoot" :rows="rows"></slot>
            </tfoot>
        </table>

        <div style="display:none;">
            <slot></slot>
        </div>

        <grid-pagination-component :pageNumber="data.pageNumber" :totalPages="data.totalPages" @pageChange="pageChange"></grid-pagination-component>
    </div>
</template>


<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator';
import { GridModel, GridRow, GridColumn } from './model';

import GridHeaderComponent from './grid-header.vue';
import GridRowComponent from './grid-row.vue';
import GridPaginationComponent from './grid-pagination.vue';
import GridColumnComponent from './grid-column.vue';

import { SortOrder } from '../../model/base.model';

@Component({
    components: { GridHeaderComponent, GridRowComponent, GridPaginationComponent }
})
export default class GridComponent extends Vue {
    @Prop() data: GridModel<any>;

    @Prop({ default: '' }) heading: string;
    @Prop({ default: true }) showFilter: boolean;

    @Prop({ default: 'No items match!' }) emptyText: string;

    columns: Array<GridColumn> = new Array<GridColumn>();
    rows: Array<GridRow> = new Array<GridRow>();

    @Watch('data') 
    dataChanged() {
        this.getRows();
    }

    download() {
        this.actionTriggered("download");
    }

    async mounted() {
        const columnComponents = this.$slots.default
            .filter(column => column.componentInstance)
            .map(column => column.componentInstance);

        this.columns = columnComponents.map(
            (column: GridColumnComponent) => column.getData()
        );

        columnComponents.forEach(columnCom => {
            Object.keys(columnCom.$options.props).forEach(
                prop => columnCom.$watch(prop, () => {
                    this.columns = columnComponents.map(
                        (column: GridColumnComponent) => column.getData()
                    );
                })
            );
        });

        await this.getRows();
    }

    @Emit('actionTriggered')
    actionTriggered(actionName: string){}

    getRows() {
        this.rows = this.data.items.map(i => new GridRow(i, this.columns));
    }

    get isFilterable() {
        return this.columns.filter(c => c.filterable).length > 0;
    }

    pageChange(pageNumber: number) {
        this.data.pageNumber = pageNumber;

        this.actionTriggered("page");
    }

    filter() {
        this.data.pageNumber = 1;

        this.actionTriggered("filter");
    }

    changeSorting(column: GridColumn) {
        if (this.data.sortBy !== column.fieldName) {
            this.data.sortBy = column.fieldName;
            this.data.sortOrder = SortOrder.ASC;
        } 
        else {
            this.data.sortOrder = this.data.sortOrder === SortOrder.ASC ? SortOrder.DESC : SortOrder.ASC;
        }

        this.actionTriggered("sort");
    }

    emitRowClick(row: GridRow) {
        this.$emit('rowClick', row);
    }
}
</script>

