<template>
    <tr @click="$emit('rowClick', row)">
        <td><input type="checkbox" v-model="row.item.selected" /></td>
        <grid-cell-component v-for="column in visibleColumns" :key="column.id" :row="row" :column="column"></grid-cell-component>
    </tr>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Emit, Watch } from 'vue-property-decorator';
import { GridRow, GridColumn } from './model';
import GridCellComponent from './grid-cell.vue';

@Component({
    components: { GridCellComponent }
})
export default class GridRowComponent extends Vue {
    @Prop() columns: Array<GridColumn>;
    @Prop() row: GridRow;

    get visibleColumns() {
        return this.columns.filter(c => !c.hidden);
    }
}
</script>