<template>
    <nav class="pagination is-centered is-padding-top-half" role="navigation" v-if="totalPages > 1">
        <ul class="pagination-list">
            <li>
                <a class="pagination-link" :disabled="pageNumber <= 1" @click="pageClicked(pageNumber - 1)">&lt;</a>
            </li>
            <li v-if="hasFirst">
                <a class="pagination-link" :class="{ 'is-current': isActive(1) }" @click="pageClicked(1)">1</a>
            </li>
            <li v-if="hasFirstEllipsis"><span class="pagination-ellipsis">&hellip;</span></li>
            <li v-for="page in pages" :key="page">
                <a class="pagination-link" :class="{ 'is-current': isActive(page) }" @click="pageClicked(page)">{{ page }}</a>
            </li>
            <li v-if="hasLastEllipsis"><span class="pagination-ellipsis">&hellip;</span></li>
            <li v-if="hasLast">
                <a class="pagination-link" :class="{ 'is-current': isActive(totalPages) }" @click="pageClicked(totalPages)">{{totalPages}}</a>
            </li>
            <li>
                <a class="pagination-link" :disabled="pageNumber === totalPages" @click="pageClicked(pageNumber + 1)">&gt;</a>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Emit, Watch } from 'vue-property-decorator';
import { GridModel } from './model';

@Component({})
export default class GridPaginationComponent extends Vue {
    @Prop() pageNumber: number;
    @Prop() totalPages: number;

    pageClicked(pageNumber: number) {
        if (pageNumber === this.pageNumber ||
            pageNumber > this.totalPages ||
            pageNumber < 1)
            return;

        this.$emit('pageChange', pageNumber);
    }

    isActive(pageNumber: number) {
        return this.pageNumber === pageNumber;
    }

    get hasFirst() {
        return this.pageNumber >= 4 || this.totalPages < 10;
    }

    get hasLast() {
        return this.pageNumber <= this.totalPages - 3 || this.totalPages < 10;
    }

    get hasFirstEllipsis() {
        return this.pageNumber >= 4 && this.pageNumber >= 10;
    }
    
    get hasLastEllipsis() {
        return this.pageNumber <= this.totalPages - 3 && this.totalPages >= 10;
    }

    get pages() {
        let pages = new Array<number>();

        let left = 2;
        let right = this.totalPages - 1;

        if (this.totalPages >= 10) {
            left = Math.max(1, this.pageNumber - 2);
            right = Math.min(this.pageNumber + 2, this.totalPages);
        }

        for (let i = left; i <= right; i++) {
            pages.push(i);
        }

        return pages;
    }
}

</script>