<template>
    <div class="wrapper">
        
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <router-link to="/" class="navbar-item"><img src="../assets/wm-logo.png"></router-link>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    </a>
                </div>
              

                <div id="navbarBasicExample" class="navbar-menu">
                    <!-- <div class="is-divider-vertical"></div>
                    
                    <div class="navbar-start">
                        <router-link to="/" class="navbar-item wm-icon-gauge">DASHBOARD</router-link>
                        <div class="is-divider-vertical"></div>
                        <router-link to="/invoices" class="navbar-item icon wm-icon-doc-text">INVOICES</router-link>
                    </div> -->
                    
                    <div class="navbar-end">
                    <div class="navbar-item is-hoverable">
                        ALLISON JONES <span class="wm-icon-caret-down"></span>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="#">
                                Profile
                            </a>
                            <a class="navbar-item" href="#">
                                Sign Out
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="content-section">
             <div class="columns is-fullheight">
                <div class="leftnav is-sidebar-menu is-hidden-mobile">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li><router-link to="/" class="wm-icon-home">DASHBOARD</router-link></li>
                            <li><router-link to="/invoices" class="wm-icon-dollor">INVOICES</router-link>

                            </li>
                        </ul>
                       
                    </aside>
                </div>
                <div class="container">
                    <router-view></router-view>
                </div>
            </div>
            
        </section>
        <footer class="footer">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">© {{ new Date().getFullYear() }} Web Manager Access</div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a href="/about">About Us</a>
                        </div>
                        <div class="level-item">
                            <a href="/privacy">Privacy Policy</a>
                        </div>
                    </div>  
                </div>  
            </div>
        </footer>
    </div>
</template>

<style>
  @import '../css/main.css';
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

import VueFilterDateFormat from 'vue-filter-date-format';
import vueNumeralFilterInstaller from 'vue-numeral-filter';
import Vue2Filters from 'vue2-filters'
import VueGoogleCharts from 'vue-google-charts'

Vue.use(VueFilterDateFormat);
Vue.use(VueGoogleCharts);
Vue.use(Vue2Filters);
Vue.use(vueNumeralFilterInstaller);

@Component({})
export default class App extends Vue {
}

import GridComponent from './shared/grid/grid.vue';
import GridColumnComponent from './shared/grid/grid-column.vue';

Vue.component('grid', GridComponent);
Vue.component('grid-column', GridColumnComponent);

import WidgetComponent from './shared/widget.vue';

Vue.component('widget', WidgetComponent);

</script>