<template>
  <div class="page-home">
    <div class="columns">
      <div class="column">
        <h2 class="title is-4">BILLING STATUS</h2>
         <BChart :chartType="'PieChart'" :showLegend='true' :height="200" ></BChart>
      </div>
      <div class="is-divider-vertical"></div>
      <div class="column">
        <h2 class="title is-4">QUICK STATS</h2>
        <div class="columns is-multiline">
          <div class="column is-half" v-for="item in stats" :key="item.id">
            <div class="summary-positive" :class="{ 'summary-positive' : item.percent >= 0, 'summary-negative' : item.percent < 0 }">
              <div class="summary-content">
                <h3>${{ item.amount | numeral(0, 0) }}</h3>
                <span class="is-uppercase">{{ item.title }}</span>
              </div>
              <ul class="summary-menu">
                <li>{{ item.percent > 0 ? item.percent : 0 - item.percent }}%</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="chart">
      <div class="chart-header">
        <hr />
        <div class="chart-header-buttons">
          <button class="button" @click="chartClicked('revenue')" :class="{ 'is-primary': chartData.name == 'revenue' }">REVENUE</button>
          <button class="button" @click="chartClicked('assets')" :class="{ 'is-primary': chartData.name == 'assets' }">BILLABLE ASSETS</button>
          <button class="button" @click="chartClicked('fee')" :class="{ 'is-primary': chartData.name == 'fee' }">FEE RATE</button>
        </div>
      </div>
      <div class="chart-content">
        <Chart :chartType="'ColumnChart'" :height="500"></Chart>
      </div>
    </div>

    <h2 class="title is-4">RANKINGS</h2>
    <div class="columns">
      <div class="column">
          <widget :items="byRevenue" :heading="'TOP 5 CLIENTS BY REVENUE'">
            <template v-slot:left="{ item, index }">
               {{ index + 1 }}. {{ item.firstName }} {{ item.lastName }}
            </template>
            <template v-slot:right="{ item }">
              <strong>${{ item.revenue | numeral(0, 0) }}</strong>
            </template>
          </widget>
      </div>      
      <div class="column">
          <widget :items="byAssets" :heading="'TOP 5 CLIENTS BY AUM'">
            <template v-slot:left="{ item, index }">
               {{ index + 1 }}. {{ item.firstName }} {{ item.lastName }}
            </template>
            <template v-slot:right="{ item }">
              <strong>${{ item.aum | abbreviate }}</strong>
            </template>
          </widget>
      </div>
      <div class="column">
          <widget :items="schedules" :heading="'TOP 5 FEE SCHEDULE'">
            <template v-slot:left="{ item, index }">
               <span :title="item.title">{{ index + 1 }}. {{ item.title }}</span>
            </template>
            <template v-slot:right="{ item }">
              <strong>{{ item.count }}</strong>
            </template>
          </widget>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import Chart from './components/chart.vue';
import BChart from './components/billstatchart.vue';


import { DataRequest, SortOrder } from '../../model/base.model';
import { DashboardStatsModel,ChartModel,ClientModel, ScheduleModel } from '../../model/model';
import { DashboardService, ScheduleService } from '../../service/service';

@Component({
  components: { Chart,BChart}
})
export default class Home extends Vue {
  private service = new DashboardService();

  stats: DashboardStatsModel[] = [];
  
  @Getter chartData: ChartModel;
  @Action getChartData;
  @Action getBillStatsChart;

  @Getter byRevenue: Array<ClientModel>;
  @Getter byAssets: Array<ClientModel>;
  @Action getClients;

  schedules: ScheduleModel[] = [];

  created() {
    this.service.getStats().then(response =>{
        this.stats = response.items;
    });

    this.getClients();
    
    this.getSchedules();
     
    this.getBillStatsChart("billstats");
    this.getChartData("revenue");
   
  }
  
  chartClicked(name: string) {
    this.getChartData(name);
  }

  getSchedules(){
    let request = new DataRequest();
    request.pageSize = 5;
    request.pageNumber = 1;
    request.sortBy = "count";
    request.sortOrder = SortOrder.DESC;

    let service = new ScheduleService();
    service.getItems(request).then(response =>{
        this.schedules = response.items;
    });
  }
}
</script>

