.page-home {
    h2 {
        text-align: center;
        padding-bottom: $padding;

        @include mobile {
            padding-bottom: 0;
        }
    }

    .columns {
        .summary {
            margin-bottom: $spacing;
            padding: $padding $padding * 2 $padding $padding;
            display: flex;
            flex-direction: row;
            flex-basis: 100% / 12 * 3;
            justify-content: center;
            border-right: solid 1px $grey-lighter;

            @include mobile {
                border-right: none;
                padding: 0;
                margin-bottom: $spacing / 2;
            }

            &-content {
                > h3 {
                    display: block;
                    font-size: 28px;
                    font-weight: normal;
                    line-height: 1;
                }

                > span {
                    display: block;
                    font-size: 14px;
                    font-weight: bold;

                    @include mobile {
                       text-align: center;
                    }
                }
            }    

            &-menu {
                padding-left: $padding;
                padding-top: $padding / 4;

                > li {
                    &::after {
                        padding-left: $padding / 4;
                        font-family: "wm-fontello";
                    }
                }
            }

            &-positive {
                h3 {
                    color : $green;
                }

                li {
                    color : $green;

                    &::after {
                        content: "\e806";
                    }
                }
            }

            &-negative {
                h3 {
                    color : $red;
                }

                li {
                    color : $red;

                    &::after {
                        content: "\e805";
                    }
                }
            }
        }

        > :last-child {
            .summary {
                border-right: 0;
            }
        }
    }

    .chart {
        &-header {
            text-align: center; 
    
            &-buttons {
                display: inline-block;   
                background: $white;
                padding: 0px $padding;       
            }
    
            > hr {
                margin-bottom : -15px;
            }
        }
    }

    .list {
        .subtitle {
            padding-left: $padding / 2;
        }

        &-item:nth-of-type(1) {
            border-top: solid 1px $border;
        }

        &-item:last-child {
                border-bottom: solid 1px $border;
        }
    }
}